* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);
  --scissorsgradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --PaperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --RockGradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --LizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
  --Radial-Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

body {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: -webkit-linear-gradient(
    right,
    hsl(237, 49%, 15%),
    hsl(214, 47%, 23%),
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
